<TABLE border=1  bgcolor="#e0e0e0" >
<TR>
<TD>
<TABLE border=0 bgcolor="#ffffe1" >
<TR valign=top >
<TD rowspan=2 valign=top align=left >
<CENTER>
<img src="http://www.fontmenu.com/pics/fontmenubutton.gif">
</CENTER>
<P>


</TD>
<TD >
<TABLE border=0  width="100%" bgcolor="#FFFFF0">
<TR>
<TD  colspan=2 valign=top>
<a href="http://www.fontmenu.com/site/_Halloween.html">Halloween &quot;scary characters&quot; TTF font</a>
 - Ver: 2.00 <BR>
Written by: <a href="http://www.fontmenu.com">Match Software</a><BR>
8205 Santa Monica Blvd<BR>West Hollywood, CA 90046-5912<BR>USA

</TD>
<TD width="33%">
<CENTER>
<a href="http://www.fontmenu.com/printouts/%Halloween.gif">Screen Shot</a>
<BR>
<a href="http://www.asp-shareware.org">ASP&nbsp;Member</a>=Y<BR>
</CENTER>
</TD>
</TR>
<TR>
<TD width="33%">
<FONT SIZE=2>Release Date: 09/07/2001<BR>
Release Status: <B>New Release</B>
</FONT>
</TD>
<TD width="33%">
<FONT SIZE=2>File Size: 78k&nbsp;&nbsp;-&nbsp;&nbsp;MB</FONT>
</TD>
<TD width="33%">
<FONT SIZE=2>
Type: Shareware<BR>
Cost: 19.95 
</font>
</TD>

</TR>

</TABLE>
<B>Keywords:</B> <font size=2>TTF, scarry, halloween, pi font, witches, brooms, vampires, pumpkins, silhouettes, shaddows, dingbat</font><p>
<B>Description:</B> <BR>
<font size=2>
Halloween Match is one of the most original typefaces in this collection. Every letterform is at the same time a small picture, which makes it one of the very few pi fonts that can be read, and used, on several levels. As dingbat, it can take part in nice layouts, where pictures play the role of pictograms. As a legible Roman alphabet, it can still say things. For instance &quot;Boo&quot;. TTF evaluation sample.<P>
</font>
<hr width=75%>
<TABLE BORDER=0 width=100%>
<TR>
<td colspan=2>
<B>Contact Info:</B>
</td>
</TR>
<TR valign=top>
<TD>
<font size=2>
General Phone: 310-388-5216<BR>
General Email: <a href="mailto:sales@fontmenu.com">sales@fontmenu.com</a><P>

Support Phone: 310-388-5216<BR>
Support Email: <a href="mailto:support@fontmenu.com">support@fontmenu.com</a>
</font>
</TD>
<TD>
<font size=2>
Sales Phone: 310-388-5216<BR>
Sales Email: <a href="mailto:sales@fontmenu.com">sales@fontmenu.com</a><P>
Order Online: <a href="http://www.fontmenu.com/cgi-bin/caisseg.pl?W-HLW">http://www.fontmenu.com/cgi-bin/caisseg.pl?W-HLW</a>
</font>
</TR>
</TABLE>
<hr width=75%>
<TABLE BORDER=0 >
<TR>
<TD><B>Download URLs:</B></TD>
</TR>
<TR>
<TD>
<font size=2>
<a href="ftp://ftp.fontmenu.com/shareware/win/Hlw_ttf.zip">ftp://ftp.fontmenu.com/shareware/win/Hlw_ttf.zip</a><BR>
<a href="ftp://64.177.229.215/shareware/win/Hlw_ttf.zip">ftp://64.177.229.215/shareware/win/Hlw_ttf.zip</a><BR>
<a href="<!--Web_Info.Download_URLs.Additional_Download_URL_1 -->"><!--Web_Info.Download_URLs.Additional_Download_URL_1 --></a><BR>
<a href="<!--Web_Info.Download_URLs.Additional_Download_URL_2 -->"><!--Web_Info.Download_URLs.Additional_Download_URL_2 --></a><BR>
</font>
</TD>
</TR>

</TABLE>

</TD>
</TR>
</TABLE>
<B>Supported Operating Systems:</B> Win 3.1x,Win95,Win98,WinME,WinNT 3.x,WinNT 4.x,Windows2000,OS/2 Warp 4 <BR>
<B>System Requirements:</B>Basic system<br>
<B>Install Support:</B> No Install Support
</TD>
</TR>
</TABLE>
<hr>
